.dropdown {
    max-width: 46px;
    padding-top: 10px;
    position: relative;
}

.dropdown-menu {
    display: none;
    width: 46px;
    text-align: center;


}

.logo {

    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.ru {
    background-image: url('../assets/images/ru.png');
}

.ge {
    background-image: url('../assets/images/ge.png');
}

.en {
    background-image: url('../assets/images/en.png');
}

.dropdown-menu.show {
    margin-top: -4px;
    display: flex;
    flex-direction: column;
    background: #2c2d34;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 7;

}


.dropdown-toggle {
    cursor: pointer;
    background: #2c2d34;
    width: 100%;
    outline: none;
    height: 37px;
    border: none;
    border-radius: 3px;

}

.dropdown-item {
    padding: 5px 0;
    opacity: .7;
    line-height: 30px;
    height: 37px;

    // &:nth-child(1) {
    //     display: none;
    // }

    &:hover {
        opacity: 1;
        transition: 0.3s;
    }
}